@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f7f7;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

button{
  font-family: var(--poppins), sans-serif;
}

.hero-section{
  font-family: var(--poppins), sans-serif;
}

.trustees h2{
  color: #4f4f4f;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  text-align: center;
  font-family: var(--poppins), sans-serif;
}

.pr-con{
  font-family: var(--poppins), sans-serif;
}

.pr-con h2{
  color: #000;
  font-size: 36px;
  line-height: 54px;
  font-weight: 600;
}